/*style*/
@charset "utf-8";

* {
	padding: 0 auto;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: white;
	background-color: #202637;
	font-family: TradeGothicforNike365-BdCn,Helvetica!important;
	font-size: .900em;
}

/*formatação cabeçalho*/

div#div-cabeçalho {
	background-color:  #202637;
	border-bottom: 1px solid #535c76;
}

#cabeçalho {
	text-align: right;
	margin-right: 20px;
}

#icone {
	display: block;
	position: absolute;
	padding: 5px;
	color: #f4f4fc;
}

nav#menu ul {
	list-style: none;
}	

nav#menu li {
	display: inline;
	font-family: TradeGothicforNike365-BdCn,Helvetica!important;
}

nav#menu ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	color:white;
	font-family: TradeGothicforNike365-BdCn,Helvetica!important;
}

nav#menu ul li a:hover {
	border-bottom: 1px solid rgb(41, 116, 255);
	border-radius: 1px 1px;
	display: inline;

}

/*fomartação section*/

#container {
	margin: auto;
	background-color:  #364366;
	align-items: center;
	max-width: 1100px;
}

#container h2 {
	background-color:#364366;
	text-align: center;
	padding: 20px;
}

#container p {
	color: #ffffff;
	font-size: 12pt;
	padding: 10px;
}

div#c-html {
	display: inline-flex;
	margin: 20px;

}

#c-html img {
	max-width: 200px;
}

#c-html h3 {
	margin: 10px;
}

div#c-css {
	display: inline-flex;
	margin: 20px;	
}

#c-css img {
	max-width: 200px;
}

#c-css h3 {
	margin: 10px;
}

div#c-java {
	display: inline-flex;
	margin: 20px;	
}

#c-java img {
	max-width: 200px;
}

#c-java h3 {
	margin: 10px;
}

/*redes*/

div#redes {
	background-color:  #1c212e;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

#redes ol {
	color:white;
	margin: 10px;
}

#redes ol li {
	list-style: none;
	padding-top: 30px;
}

footer h5 {
	color: rgb(154, 154, 255);
}

/*formatação rodapé*/ 

footer {
	display: inline-flex;
	background-color: #12161f;
	width: 100%;
	justify-content: space-between;
}

footer h6 {
	text-align: left;
	color:white;
	padding: 10px;
	margin: 10px;
}

#img-f {
	display: inline;
	margin: 10px;
	padding: 10px;
}

#img-f a i {
	margin: 0px 10px 0px 10px;
	color: white;
}
  
